body {
    margin: 0px;
    padding: 0px;
}

.title {
    background-color: black;
}

.titleH1 {
    color: black;
    font-size: 20px;
    text-align: center;
}

.titleH2 {
    color: black;
    font-size: 18px;
    text-align: center;
}

.imageDiv {
    background-color: white;
    margin: auto;
    justify-content: center;
    text-align: center;
}

.image {
    border-radius: 1rem;
    width: 300px;
}

.summary {
    color: black;
    padding: 1rem;
    text-align: center;
    justify-content: center;
    width: 50%;
    font-size: 15px;
    margin: auto;
}

.summaryH2 {
    color: black;
}

.summary a {
    color: black;
    text-decoration: underline;
    font-size: 12px;
}

.instructions {
    color: black;
    margin: auto;
    width: 50%;
    padding: 1rem;
    text-align: left;
    justify-content: center;
    font-size: 18px;
}

.instructionsH2 {
    text-align: center;
    color: black;
}

.ingredients {
    text-align: center;
    justify-content: center;
    font-size: 18px;
    padding: 1rem;
    width: 100%;
    margin: auto;
}

.ingredient {
    text-align: left;
    justify-content: center;
}

.recipe {
    background-color: white;
    height: 100%;
}

.extras {
    color: black;
    width: 50%;
    margin: auto;
    padding: 2rem;
    text-align: center;
    justify-content: center;
}

.new {
    text-align: center;
    justify-content: center;
}