.card-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 1rem;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.card-div {
    margin: 8px;
    border: 1px solid black;
    background-color: white;
    /* height: 90%; */
    transition: 0.3s;
    animation: ease-in;
    max-height: 90%;
}

.card-div:hover {
    transform: scale(1.01);
}

.image-container,
img {
    height: 200px;
    border-radius: 20%;
    margin: 4px;
}

.image-container {
    float: left;
    padding: 1px;
}

.summary-div {
    font-size: 15px;
    display: block;
    width: 50%;
    float: right;
    padding: 20px;
    margin: 1px;
}

.card-title {
    text-align: left;
}